html,body{
	margin:0;
	padding:0;
}
body{
	background-color:#ccc;
	font-size:14px;
	height:900px;
}
div{
	line-height:40px;
	overflow-x:auto;
	white-space: nowrap;
	z-index:10;
}
.static {
	width:70%;
	margin:0 auto;
	top: 50%;
	height: 40px;
	padding: 0 3%;
	background: #eee;
}
.relative {
	position: relative;
	width: 70%;
	height: 40px;
	left:50%;
	margin:0 0 0 -38%;
	padding: 0 3%;
	background: #000;
	color:#fff;
}

.absolute1 {
	position: absolute;
	width: 70%;
	height: 40px;
	left:50%;
	margin:0 0 0 -38%;
	padding: 0 3%;
	background: red;
	color:#fff;
}

.absolute2 {
	position: absolute;
	width: 70%;
	height: 40px;
	left:50%;
	top:120px;
	margin:0 0 0 -38%;
	padding: 0 3%;
	background: green;
	color:#fff;
}
.relative-absolute-con{
	position: relative;
	width: 70%;
	height: 40px;
	left:50%;
	margin:0 0 0 -38%;
	padding: 0 3%;
	background: blue;
	color:#fff;
	top:80px;
	height:100px;
}
.absolute3 {
	position: absolute;
	width: 70%;
	height: 40px;
	left:50%;
	top:50%;
	margin:-20px 0 0 -38%;
	padding: 0 3%;
	background: red;
	color:#fff;
}
.fixed{
	position: fixed;
	width: 70%;
	height: 40px;
	padding: 0 3%;
	background: yellow;
	margin:0 0 0 -38%;
	left:50%;
	color:#000;
	z-index:1000;
	bottom:0;
	z-index: 0;
}
.z-index{
	z-index: 1000;
	bottom:20px;
}
.clip{
	clip: rect(0 auto 35px 10px);
}