@media screen and (max-width: 319px) {
  /* line 6, ../scss/_same.scss */
  html {
    font-size: 85.33333px;
  }
}
@media screen and (min-width: 320px) and (max-width: 359px) {
  /* line 12, ../scss/_same.scss */
  html {
    font-size: 85.33333px;
  }
}
@media screen and (min-width: 360px) and (max-width: 374px) {
  /* line 18, ../scss/_same.scss */
  html {
    font-size: 96px;
  }
}
@media screen and (min-width: 375px) and (max-width: 383px) {
  /* line 24, ../scss/_same.scss */
  html {
    font-size: 100px;
  }
}
@media screen and (min-width: 384px) and (max-width: 399px) {
  /* line 30, ../scss/_same.scss */
  html {
    font-size: 102.4px;
  }
}
@media screen and (min-width: 400px) and (max-width: 413px) {
  /* line 36, ../scss/_same.scss */
  html {
    font-size: 106.66667px;
  }
}
@media screen and (min-width: 414px) {
  /* line 42, ../scss/_same.scss */
  html {
    font-size: 110.4px;
  }
}
/* line 47, ../scss/_same.scss */
html,
body {
  margin: 0;
  padding: 0;
}

/* line 52, ../scss/_same.scss */
body {
  font-size: 16px;
  height: 1500px;
  color: #fff;
  background-color: #ccc;
}

/* line 60, ../scss/_same.scss */
div {
  z-index: 10;
  overflow-x: auto;
  white-space: nowrap;
}

/* line 67, ../scss/_same.scss */
h1 {
  height: 20px;
  padding: 0;
  text-align: left;
  color: #000;
}

/* line 75, ../scss/_same.scss */
h2 {
  line-height: 40px;
  height: 40px;
  margin: 5px 0 0 0;
  padding: 5px 0;
  text-align: left;
  color: #000;
}

/* line 86, ../scss/_same.scss */
.display-con {
  line-height: 40px;
  width: 90%;
  margin: auto;
  text-align: center;
}

/* line 3, ../scss/background-size.scss */
body {
  background-color: #fff;
}

/* line 6, ../scss/background-size.scss */
h2 {
  font-size: 18px;
  line-height: 30px;
}

/* line 10, ../scss/background-size.scss */
.bg {
  width: 90%;
  height: 122px;
  background: url("../img/bg.png") no-repeat 0 0;
}

/* line 16, ../scss/background-size.scss */
.one {
  background-color: #008000;
  background-size: auto;
}

/* line 20, ../scss/background-size.scss */
.two {
  background-color: #800072;
  background-size: 150px 80px;
}

/* line 24, ../scss/background-size.scss */
.three {
  background-color: #c70808;
  background-size: 80% 80%;
}

/* line 28, ../scss/background-size.scss */
.four {
  background-color: #0404bf;
  background-size: 122px 50%;
}

/* line 32, ../scss/background-size.scss */
.five {
  background-color: #a5a50a;
  background-size: auto 50%;
}

/* line 36, ../scss/background-size.scss */
.six {
  background-color: #008000;
  background-size: cover;
}

/* line 40, ../scss/background-size.scss */
.seven {
  height: 50px;
  background-color: #008000;
  background-size: contain;
}
