@media screen and (max-width: 319px) {
  /* line 6, ../scss/_same.scss */
  html {
    font-size: 85.33333px;
  }
}
@media screen and (min-width: 320px) and (max-width: 359px) {
  /* line 12, ../scss/_same.scss */
  html {
    font-size: 85.33333px;
  }
}
@media screen and (min-width: 360px) and (max-width: 374px) {
  /* line 18, ../scss/_same.scss */
  html {
    font-size: 96px;
  }
}
@media screen and (min-width: 375px) and (max-width: 383px) {
  /* line 24, ../scss/_same.scss */
  html {
    font-size: 100px;
  }
}
@media screen and (min-width: 384px) and (max-width: 399px) {
  /* line 30, ../scss/_same.scss */
  html {
    font-size: 102.4px;
  }
}
@media screen and (min-width: 400px) and (max-width: 413px) {
  /* line 36, ../scss/_same.scss */
  html {
    font-size: 106.66667px;
  }
}
@media screen and (min-width: 414px) {
  /* line 42, ../scss/_same.scss */
  html {
    font-size: 110.4px;
  }
}
/* line 47, ../scss/_same.scss */
html,
body {
  margin: 0;
  padding: 0;
}

/* line 52, ../scss/_same.scss */
body {
  font-size: 16px;
  height: 1500px;
  color: #fff;
  background-color: #ccc;
}

/* line 60, ../scss/_same.scss */
div {
  z-index: 10;
  overflow-x: auto;
  white-space: nowrap;
}

/* line 67, ../scss/_same.scss */
h2 {
  line-height: 40px;
  height: 40px;
  text-align: left;
  color: #000;
}

/* line 76, ../scss/_same.scss */
.display-con {
  line-height: 40px;
  width: 90%;
  margin: auto;
  text-align: center;
}

/* line 4, ../scss/border.scss */
.border-con {
  line-height: 20px;
  height: 50px;
  margin-bottom: 5px;
  padding: 0 3%;
  padding-top: 10px;
  text-align: left;
  border: 1px solid #eee;
}

/* line 16, ../scss/border.scss */
.one {
  background-color: #008000;
}

/* line 19, ../scss/border.scss */
.two {
  background-color: #800072;
}

/* line 22, ../scss/border.scss */
.three {
  background-color: #c70808;
}

/* line 25, ../scss/border.scss */
.four {
  background-color: #0404bf;
}

/* line 28, ../scss/border.scss */
.type_one .one {
  border-radius: 10px;
}

/* line 31, ../scss/border.scss */
.type_one .two {
  border-radius: 10px 20px;
}

/* line 34, ../scss/border.scss */
.type_one .three {
  border-radius: 10px 20px 30px;
}

/* line 37, ../scss/border.scss */
.type_one .four {
  border-radius: 10px 20px 30px 40px;
}

/* line 40, ../scss/border.scss */
.type_two .one {
  border-radius: 10px/5px;
}

/* line 43, ../scss/border.scss */
.type_two .two {
  border-radius: 10px 20px/5px 10px;
}

/* line 46, ../scss/border.scss */
.type_two .three {
  border-radius: 10px 20px 30px/5px 10px 15px;
}

/* line 49, ../scss/border.scss */
.type_two .four {
  border-radius: 10px 20px 30px 40px/5px 10px 15px 20px;
}
