/* line 2, ../scss/_same.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 6, ../scss/_same.scss */
body {
  background-color: #ccc;
  font-size: 14px;
  height: 1500px;
}

/* line 11, ../scss/_same.scss */
div {
  line-height: 40px;
  overflow-x: auto;
  white-space: nowrap;
  z-index: 10;
}

/* line 5, ../scss/display.scss */
.display, .none-con, .block, .inline, .inline-block, .run-in, .flex {
  height: 40px;
  padding: 0 3%;
}

/* line 9, ../scss/display.scss */
.display-con {
  width: 70%;
  margin: auto;
}

/* line 13, ../scss/display.scss */
.none-con {
  color: #fff;
  background-color: #000;
}

/* line 19, ../scss/display.scss */
.none {
  display: none;
}

/* line 22, ../scss/display.scss */
.block {
  display: block;
  color: #fff;
  background-color: #f00;
}

/* line 30, ../scss/display.scss */
.inline {
  display: inline;
  color: #fff;
  background-color: #008000;
}

/* line 38, ../scss/display.scss */
.inline-block {
  display: inline-block;
  color: #fff;
  background-color: #00f;
}

/* line 46, ../scss/display.scss */
.run-in {
  display: run-in;
  color: #000;
  background-color: #ff0;
}

/* line 54, ../scss/display.scss */
.flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  background-color: #000;
}
