@charset "UTF-8";
/* line 2, ../scss/position.scss */
.position, .static, .relative, .absolute1, .absolute2, .relative-absolute-con, .absolute3, .fixed {
  width: 70%;
  height: 40px;
  padding: 0 3%;
}

/* line 10, ../scss/position.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 14, ../scss/position.scss */
body {
  background-color: #ccc;
  font-size: 14px;
  height: 1500px;
}

/* line 19, ../scss/position.scss */
div {
  line-height: 40px;
  overflow-x: auto;
  white-space: nowrap;
  z-index: 10;
}

/* line 25, ../scss/position.scss */
.static {
  top: 50%;
  /*设置无效*/
  background: #eee;
  margin: 0 auto 0 auto;
}

/* line 31, ../scss/position.scss */
.relative {
  position: relative;
  height: 40px;
  left: 50%;
  background: #000;
  color: #fff;
  margin: 0 0 0 -38%;
}

/**
* 无top或bottom 设置
*/
/* line 43, ../scss/position.scss */
.absolute1 {
  position: absolute;
  left: 50%;
  background: red;
  color: #fff;
  margin: 0 0 0 -38%;
}

/**
* 有top或bottom 设置
*/
/* line 54, ../scss/position.scss */
.absolute2 {
  position: absolute;
  left: 50%;
  top: 120px;
  background: green;
  color: #fff;
  margin: 0 0 0 -38%;
}

/* line 63, ../scss/position.scss */
.relative-absolute-con {
  position: relative;
  left: 50%;
  background: blue;
  color: #fff;
  top: 80px;
  height: 100px;
  margin: 0 0 0 -38%;
}

/* line 73, ../scss/position.scss */
.absolute3 {
  position: absolute;
  left: 50%;
  top: 50%;
  background: red;
  color: #fff;
  margin: -20px 0 0 -38%;
}

/* line 82, ../scss/position.scss */
.fixed {
  position: fixed;
  background: yellow;
  left: 50%;
  color: #000;
  z-index: 1000;
  bottom: 0;
  z-index: 0;
  margin: -20px 0 0 -38%;
}

/* line 93, ../scss/position.scss */
.z-index {
  z-index: 1000;
  bottom: 20px;
}

/* line 97, ../scss/position.scss */
.clip {
  clip: rect(0 auto 35px 10px);
}
