@media screen and (max-width: 319px) {
  /* line 6, ../scss/_same.scss */
  html {
    font-size: 85.33333px;
  }
}
@media screen and (min-width: 320px) and (max-width: 359px) {
  /* line 12, ../scss/_same.scss */
  html {
    font-size: 85.33333px;
  }
}
@media screen and (min-width: 360px) and (max-width: 374px) {
  /* line 18, ../scss/_same.scss */
  html {
    font-size: 96px;
  }
}
@media screen and (min-width: 375px) and (max-width: 383px) {
  /* line 24, ../scss/_same.scss */
  html {
    font-size: 100px;
  }
}
@media screen and (min-width: 384px) and (max-width: 399px) {
  /* line 30, ../scss/_same.scss */
  html {
    font-size: 102.4px;
  }
}
@media screen and (min-width: 400px) and (max-width: 413px) {
  /* line 36, ../scss/_same.scss */
  html {
    font-size: 106.66667px;
  }
}
@media screen and (min-width: 414px) {
  /* line 42, ../scss/_same.scss */
  html {
    font-size: 110.4px;
  }
}
/* line 47, ../scss/_same.scss */
html,
body {
  margin: 0;
  padding: 0;
}

/* line 52, ../scss/_same.scss */
body {
  font-size: 16px;
  height: 1500px;
  color: #fff;
  background-color: #ccc;
}

/* line 60, ../scss/_same.scss */
div {
  z-index: 10;
  overflow-x: auto;
  white-space: nowrap;
}

/* line 67, ../scss/_same.scss */
h1 {
  height: 20px;
  padding: 0;
  text-align: left;
  color: #000;
}

/* line 75, ../scss/_same.scss */
h2 {
  line-height: 40px;
  height: 40px;
  margin: 5px 0 0 0;
  padding: 5px 0;
  text-align: left;
  color: #000;
}

/* line 86, ../scss/_same.scss */
.display-con {
  line-height: 40px;
  width: 90%;
  margin: auto;
  text-align: center;
}

/* line 5, ../scss/width.scss */
.width {
  height: 40px;
  padding: 0 3%;
}

/* line 9, ../scss/width.scss */
.width-con {
  width: 70%;
  margin: auto;
}
